footer {
    ul {
        margin: 2rem;
        display: flex;
        justify-content: space-evenly;

        li {
            color: grey;
            list-style: none;
        }
    }
}

.footer {
    border-top: 1px solid white;
}

.footer__lista--margin {
    margin: 0;
    padding-top: 1.5rem;
}

@media screen and (max-width: 500px) {
    footer {

        ul {
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 1rem;
        }
    }

}